<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Anton&amp;family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&amp;family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet"/>

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"></script>

    <script>
    tailwind.config = {
        theme: {
            extend: {
                fontFamily: {
                    anton: ["Anton", "sans-serif"],
                    archivo: ["Archivo Narrow", "sans-serif"],
                    space: ["Space Mono", "monospace"],
                }
            }
        }
    }
    </script>

    <link rel="stylesheet" href="/Static/css/style.css">
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</head>
<body class="bg-[#fff9ed] font-archivo min-h-screen flex flex-col">
        <header class="w-full sticky z-50 top-0  border-b-4 border-black bg-[#FFF9ED] py-4">
        <nav class="max-w-7xl mx-auto flex items-center justify-between px-5 md:px-8 lg:px-12 py-4 ">

            <!--Left Navbar-->
            <div class=" bg-[#ffdd00] py-1 px-4 border-4 border-black shadow-[6px_6px_0px_0px_#000]">
                <P class="font-anton text-[24px] text-bold">Taskr</P>
            </div>


            <!--Middle navbar-->
            <div class="hidden md:flex flex flex-row gap-8">

                <a class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="/">
                    Tasks
                </a>

                <a class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="/statPage">
                    Stats
                </a>

                <a  class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform"
                 href="/categories">
                    Categories
                </a>

                <a class="text-[16px] text-[#6D5E00] font-bold border-b-4 border-[#6D5E00] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " 
                    href="#">
                    Archive
                </a>
            </div>

            <!--Right navbar-->
            <div id="btn-addtask" class=" md:flex bg-[#ffdd00] py-1 px-4 border-4 border-black shadow-[6px_6px_0px_0px_#000] brutal-btn-hover brutal-btn-active transition-all">
                <P class="font-anton ">ADD TASK</P>
            </div>
        </nav>
    </header>

    <main class="w-full flex-1 flex flex-col gap-12 py-5 mb-6">
        <section>
            <div class="max-w-7xl mx-auto px-5 md:px-8 lg:px-12">
                <h1 class="font-anton text-[64px] uppercase">Archive</h1>
            </div>
        </section>
        
        <section>
            <div class="max-w-7xl flex gap-4 mx-auto px-5 md:px-8 lg:px-12">
                <button class="border-4 border-black px-8 py-3 bg-[#FFDD00] shadow-[4px_4px_0px_0px_#000]">
                    <p class="font-anton text-[24px]">May</p>
                </button>

                <button class="border-4  border-black px-8 py-3 bg-[#FFDD00] shadow-[4px_4px_0px_0px_#000]">
                    <p class="font-anton text-[24px]">April</p>
                </button>

                <button class="border-4  border-black px-8 py-3 bg-[#FFDD00] shadow-[4px_4px_0px_0px_#000]">
                    <p class="font-anton text-[24px]">june</p>
                </button>
            </div>
        </section>

        <!-- task list-->
        <section>
            <div class="max-w-7xl mx-auto px-5 md:px-8 lg:px-12 flex flex-col gap-4 max-h-[40vh] scrollbar-hide overflow-auto">

                <div class="border-4 border-black p-6 flex flex-col gap-4 bg-[#FFFFFF] md:flex-row md:justify-between ">

                    <!--Left-->
                    <div class=" flex flex-col gap-2">
                        <P class=" font-anton text-[24px]">Design Landing Page</P>

                        <div class="border-4 border-black px-4 py-1 w-fit bg-[#EFE8D5]">
                            <p class="font-space font-bold text-[12px]">Completed : 12 june</p>
                        </div>
                    </div>

                    <!--Right-->

                    <div class="flex flex-row gap-4">
                        <div class="w-full bg-[#DEDEDE] flex justify-center items-center px-6 py-2 gap-2 border-4 border-black shadow-[4px_4px_0px_0px_#000]">
                            <iconify-icon
                                icon="tabler:restore"
                                class="text-3xl text-[#606262]">
                            </iconify-icon>

                            <P class="uppercase font-archivo font-bold text-[#606262] ">Restore</P>
                        </div>

                        <div class="w-full bg-[#BA1A1A] flex justify-center items-center px-6 py-2 gap-2 border-4 border-black shadow-[4px_4px_0px_0px_#000]">
                            <iconify-icon
                                icon="mdi:garbage-can"
                                class="text-3xl text-white">
                            </iconify-icon>
                            
                            <P class="uppercase font-archivo font-bold text-white"> Delete Forever</P>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>