<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Anton&amp;family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&amp;family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet"/>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
    tailwind.config = {
        theme: {
            extend: {
                fontFamily: {
                    anton: ["Anton", "sans-serif"],
                    archivo: ["Archivo Narrow", "sans-serif"],
                    space: ["Space Mono", "monospace"],
                }
            }
        }
    }
    </script>

    <link rel="stylesheet" href="/Static/css/style.css">
</head>
<body class="bg-[#fff9ed] font-archivo min-h-screen  ">

    <header class="w-full sticky top-0  border-b-4 border-black bg-[#FFF9ED] py-4">
        <nav class="max-w-7xl mx-auto flex items-center justify-between px-5 md:px-8 lg:px-12 py-4 ">

            <!--Left Navbar-->
            <div class=" bg-[#ffdd00] py-1 px-4 border-4 border-black shadow-[6px_6px_0px_0px_#000]">
                <P class="font-anton text-[24px] text-bold">Taskr</P>
            </div>


            <!--Middle navbar-->
            <div class="hidden md:flex flex flex-row gap-8">

                <a class="text-[16px] text-[#6D5E00] font-bold border-b-4 border-[#6D5E00] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="">
                    Tasks
                </a>

                <a class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " 
                    href="">
                    Stats
                </a>

                <a  class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Categories
                </a>

                <a class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Archive
                </a>
            </div>

            <!--Right navbar-->
            <div id="btn-addtask" class="hidden md:flex bg-[#ffdd00] py-1 px-4 border-4 border-black shadow-[6px_6px_0px_0px_#000] brutal-btn-hover brutal-btn-active transition-all">
                <P class="font-anton ">ADD TASK</P>
            </div>
        </nav>
    </header>

    <main class="w-full flex flex-col gap-12 py-5">

        <!-- Header main -->
        <section>
            <div class="max-w-7xl mx-auto px-5 md:px-8 lg:px-12">
                <h1 class="font-anton text-[64px]">Tasks.</h1>
                <span class="py-1 px-4 bg-black w-fit text-white text-[12px]">
                    YOUR ACTIVE MISSION.
                </span>
            </div>
        </section>

        <!-- Content main -->
        <section class="">
            <div class="max-w-7xl flex flex-col  gap-6 mx-auto px-5 md:px-8 md:flex-row lg:px-12">

                <!-- Aside -->
                 <aside class="flex flex-col gap-4">

                    <!--Header aside-->
                    <div class="">
                        <p class="text-[24px] font-anton uppercase">Quick Filters</p>
                    </div>

                    <!--Priority-->
                    <div class="flex flex-col gap-2">
                        <div class="uppercase font-space text-[12px] font-bold text-[#4c4732]">
                            priority
                        </div>

                        <div class="flex flex-grow gap-2">
                            <button class="py-1 px-3 bg-[#FFDD00] text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]">
                                High
                            </button>

                            <button class="py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]">
                                MID
                            </button>
                            <button class="py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]">
                                LOW
                            </button>
                        </div>
                    </div>

                    <div class="flex flex-col gap-2">
                        <div class="uppercase font-space text-[12px] font-bold text-[#4c4732]">
                            CATEGORIES
                        </div>

                        <div class="flex flex-grow gap-2">
                            <button class="py-1 px-3 bg-[#FFDD00] text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]">
                                ALL
                            </button>

                            <button class="py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]">
                                WORK
                            </button>

                            <button class="py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]">
                                PERSONAL
                            </button>

                            <button class="py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]">
                                HEALTH
                            </button>
                        </div>
                    </div>

                 </aside>

                <!-- Task list -->
                 <div class="flex flex-col md:w-full gap-5">

                    {% for item in data %}
                    <div class="flex flex-col flex-start md:items-center bg-white gap-4 border-4 border-black shadow-[6px_6px_0px_0px_#000] py-6 px-6 md:flex-row">
                        <div class="">
                            <input type="checkbox" class="w-[18px] h-[18px]">
                        </div>

                        <div class="flex flex-col flex-start gap-1 md:w-full">
                            <div class="flex flex-row gap-4">
                                <div class="font-space text-[12px] bg-[#FFDD00] font-bold w-fit py-1 px-2 border-2 border-black">
                                    <P>{{ item.category }}</P>
                                </div>

                                <div class="font-space text-[12px] bg-[#FFDD00] font-bold w-fit py-1 px-2 border-2 border-black">
                                    <P>{{ item.priority }}</P>
                                </div>
                            </div>

                            <div class="font-anton text-[24px]">
                                <P>{{ item.Task }}</P>
                            </div>

                            <div class="flex flex-row items-center gap-1 text-[#4c4732] font-space font-bold text-[12px]">
                                <span class="ic--baseline-date-range"></span>
                                <P>DUE: {{ item.due_date }}</P>
                            </div>
                        </div>

                        <div class="flex flex-row gap-3 md:w-full">
                            <button class="uppercase font-space text-[12px] font-bold w-full py-2 border-4 border-black bg-[#E2E2E2] shadow-[4px_4px_0px_0px_#000]">
                                edit
                            </button>
                            
                            <button class="uppercase text-white font-space text-[12px] font-bold w-full py-2 border-4 border-black bg-[#BA1A1A] shadow-[4px_4px_0px_0px_#000]">
                                DELETE
                            </button>
                        </div>
                    </div>
                    {% endfor %}



                 </div>

            </div>
        </section>

    </main>

    <footer class="w-full sticky top-0  border-t-4 border-black bg-[#e9e2cf] py-4">
        <nav class="max-w-7xl mx-auto flex flex-col items-center gap-5 justify-between px-5 md:px-8 lg:px-12 py-4 ">

            <!--Left Navbar-->
            <div class=" w-full flex justify-center items-center">
                <P class="font-anton text-[24px] text-bold uppercase">Taskr</P>
            </div>


            <!--Middle navbar-->
            <div class="font-space text-[12px] font-bold text-[#4C4732]">

                <P>© 2024 TASKR - UNYIELDING PRODUCTIVITY</P>
            </div>

            <div class="md:flex flex flex-row gap-6 font-bold font-space">

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="">
                    Terms
                </a>

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " 
                    href="">
                    Privacy
                </a>

                <a  class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Github
                </a>

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Support
                </a>
            </div>
        </nav>
    </footer>

    <!--Overlay add task-->
    <div id="overlay-addtask" class="hidden bg-black/55 w-full h-full fixed top-0 p-20 justify-center items-center">
        <div class="border-4 flex flex-col gap-8 border-black bg-[#FFF9ED] w-[46%] p-8 text-10 font-anton shadow-[4px_4px_0px_0px_#000] ">

            <div class=" w-full">
                <P class="uppercase text-[40px]">New Mission objective</P>
            </div>

            <form class="flex flex-col gap-6" action="/submitTask" method="POST" >
                <div class="flex flex-col">
                    <label class="font-space font-bold">TASK NAME</label>
                    <input
                        type="text"
                        class="border-4 border-black py-4 px-3 text-[24px] focus:border-[#2563EB]  focus:outline-none"
                        placeholder="ENTER MISSION OBJECTIVE..."
                        name="Task"
                    >
                </div>

                <div class="flex flex-col">
                    <label class="font-space font-bold">Due Date</label>
                    <input
                        type="date"
                        class="border-4 font-archivo uppercase border-black py-4 px-3 text-[16px] focus:border-[#2563EB]  focus:outline-none"
                        name="due_date"
                    >
                </div>

                <div class="flex flex-row gap-6">
                    <div class="w-full">
                        <label class="font-space font-bold text-[14px] uppercase">
                            Category
                        </label>

                        <input type="hidden" name="category" id="category" value="">
                        <div class="button-group mt-2 flex flex-row gap-4">
                            <button
                                type="button"
                                class="category-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="High"
                            >
                                High
                            </button>

                            <button
                                type="button"
                                class="category-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="med"
                            >
                                Med
                            </button>

                            <button
                                type="button"
                                class="category-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="low"
                            >
                                Low
                            </button>
                        </div>
                    </div>

                    <div class="w-full">
                        <label class="font-space font-bold text-[14px] uppercase">
                            Priority
                        </label>

                        <input type="hidden" name="priority" id="priority" value="">
                        <div class="button-group mt-2 flex flex-row gap-4">
                            <button
                                type="button"
                                class="priority-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="Study"
                            >
                                Study
                            </button>

                            <button
                                type="button"
                                class="priority-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="Work"
                            >
                                Work
                            </button>

                            <button
                                type="button"
                                class="priority-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="Personal"
                            >
                                Personal
                            </button>
                        </div>
                    </div>
                </div>

                <button type="submit" class="bg-[#FFDD00] border-4 border-black py-4 text-[24px] shadow-[4px_4px_0px_0px_#000] hover:translate-y-[-2px] transition-transform brutal-btn-hover">
                    INITIATE TASK
                </button>
            </form>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>