<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Anton&amp;family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&amp;family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet"/>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
    tailwind.config = {
        theme: {
            extend: {
                fontFamily: {
                    anton: ["Anton", "sans-serif"],
                    archivo: ["Archivo Narrow", "sans-serif"],
                    space: ["Space Mono", "monospace"],
                }
            }
        }
    }
    </script>

    <link rel="stylesheet" href="/Static/css/style.css">
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

</head>

<body class="bg-[#fff9ed] font-archivo min-h-screen flex flex-col ">

    <header class="w-full sticky top-0  border-b-4 border-black bg-[#FFF9ED] py-4">
        <nav class="max-w-7xl mx-auto flex items-center justify-between px-5 md:px-8 lg:px-12 py-4 ">

            <!--Left Navbar-->
            <div class=" bg-[#ffdd00] py-1 px-4 border-4 border-black shadow-[6px_6px_0px_0px_#000]">
                <P class="font-anton text-[24px] text-bold">Taskr</P>
            </div>


            <!--Middle navbar-->
            <div class="hidden md:flex flex flex-row gap-8">

                <a class="text-[16px] text-[#6D5E00] font-bold border-b-4 border-[#6D5E00] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="">
                    Tasks
                </a>

                <a class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " 
                    href="/statPage">
                    Stats
                </a>

                <a  class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Categories
                </a>

                <a class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Archive
                </a>
            </div>

            <!--Right navbar-->
            <div id="btn-addtask" class=" md:flex bg-[#ffdd00] py-1 px-4 border-4 border-black shadow-[6px_6px_0px_0px_#000] brutal-btn-hover brutal-btn-active transition-all">
                <P class="font-anton ">ADD TASK</P>
            </div>
        </nav>
    </header>

    <main class="w-full h-[68vh] flex-1 flex flex-col gap-12 py-5 mb-6">

        <!-- Header main -->
        <section>
            <div class="max-w-7xl mx-auto px-5 md:px-8 lg:px-12">
                <h1 class="font-anton text-[64px]">Tasks.</h1>
                <span class="py-1 px-4 bg-black w-fit text-white text-[12px]">
                    YOUR ACTIVE MISSION.
                </span>
            </div>
        </section>

        <!-- Content main -->
        <section class="">
            <div class="max-w-7xl flex flex-col  gap-6 mx-auto px-5 md:px-8 md:flex-row lg:px-12">

                <!-- Aside -->
                 <aside class="flex flex-col gap-4">

                    <!--Header aside-->
                    <div class="">
                        <p class="text-[24px] font-anton uppercase">Quick Filters</p>
                    </div>

                    <!--Priority-->
                    <div class="flex flex-col gap-2">
                        <div class="uppercase font-space text-[12px] font-bold text-[#4c4732]">
                            priority
                        </div>

                        <div class="flex flex-grow gap-2">
                            <button class="filter-priority py-1 px-3 bg-[#FFDD00] text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]"
                                data-priority="all">
                                All
                            </button>

                            <button class="filter-priority py-1 px-3 bg-[#FFDD00] text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]"
                                data-priority="high">
                                High
                            </button>

                            <button class="filter-priority py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]"
                                data-priority="med">
                                MID
                            </button>
                            <button class="filter-priority py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]"
                                data-priority="low">
                                LOW
                            </button>
                        </div>
                    </div>

                    <div class="flex flex-col gap-2">
                        <div class="uppercase font-space text-[12px] font-bold text-[#4c4732]">
                            CATEGORIES
                        </div>

                        <div class="flex flex-grow gap-2">
                            <button class="filter-category py-1 px-3 bg-[#FFDD00] text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]"
                                data-category="all">
                                ALL
                            </button>

                            <button class="filter-category py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]"
                                data-category="work">
                                WORK
                            </button>

                            <button class="filter-category py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]"
                                data-category="personal">
                                PERSONAL
                            </button>

                            <button class="filter-category py-1 px-3 text-[12px] font-bold border-4 border-black brutal-btn-hover shadow-[4px_4px_0px_0px_#000]"
                                data-category="study">
                                Study
                            </button>
                        </div>
                    </div>

                 </aside>

                <!-- Task list -->
                <div class="flex flex-col md:w-full gap-5 md:pr-6 max-h-[40vh] scrollbar-hide overflow-auto ">
                    {% if data %}
                        {% for item in data %}
                        <div class="task-list flex flex-col flex-start md:items-center bg-white gap-4 border-4 border-black shadow-[6px_6px_0px_0px_#000] py-6 px-6 md:flex-row"
                            data-category="{{ item.category|lower }}"
                            data-priority="{{ item.priority|lower }}">

                            <form action="complete-task" method="post">
                                <input type="hidden" name="id_complete" value="{{ item.id }}">
                                <div class="">
                                    <input type="checkbox" onchange="this.form.submit()" class="w-[18px] h-[18px]"    
                                    {% if item.status_task == "Completed" %}
                                        checked
                                        disabled
                                    {% endif %}>
                                </div>
                            </form>


                            <div class="flex flex-col flex-start gap-1 md:w-full">
                                <div class="flex flex-row gap-4">
                                    <div class="font-space text-[12px] bg-[#FFDD00] font-bold w-fit py-1 px-2 border-2 border-black">
                                        <P>{{ item.category }}</P>
                                    </div>

                                    <div class="font-space text-[12px] bg-[#FFDD00] font-bold w-fit py-1 px-2 border-2 border-black">
                                        <P>{{ item.priority }}</P>
                                    </div>
                                </div>

                                <div class="font-anton text-[24px]  {% if item.status_task == 'Completed' %}
                                                                        line-through text-gray-400
                                                                    {% endif %}">
                                    <P>{{ item.Task }}</P>
                                </div>

                                <div class="flex flex-row items-center gap-1 text-[#4c4732] font-space font-bold text-[12px]">
                                    <span class="ic--baseline-date-range"></span>
                                    <P>DUE: {{ item.due_date }}</P>
                                </div>
                            </div>

                            <div class="flex flex-row gap-3 md:w-full">
                                <button class="uppercase font-space text-[12px] font-bold w-full py-2 border-4 border-black bg-[#E2E2E2] shadow-[4px_4px_0px_0px_#000]">
                                    edit
                                </button>
                                
                                <form action="/delete-task" class="w-full" method="post">
                                    <input type="hidden" name="id_task" value="{{ item.id }}">
                                    <button class="uppercase text-white font-space text-[12px] font-bold w-full py-2 border-4 border-black bg-[#BA1A1A] shadow-[4px_4px_0px_0px_#000]">
                                        DELETE
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                            <div class="flex items-center justify-center h-40">
                                <p class="text-gray-500 text-lg font-medium">
                                    No task to do 🎉
                                </p>
                            </div>
                    {% endif %}



                </div>

            </div>
        </section>

    </main>

    <footer class="w-full border-t-4  border-black bg-[#e9e2cf] py-4 md:mb-0 mb-24">
        <nav class="max-w-7xl mx-auto flex flex-col items-center gap-5 justify-between px-5 md:px-8 lg:px-12 py-4 ">

            <!--Left Navbar-->
            <div class=" w-full flex justify-center items-center">
                <P class="font-anton text-[24px] text-bold uppercase">Taskr</P>
            </div>


            <!--Middle navbar-->
            <div class="font-space text-[12px] font-bold text-[#4C4732]">

                <P>© 2024 TASKR - UNYIELDING PRODUCTIVITY</P>
            </div>

            <div class="md:flex flex flex-row gap-6 font-bold font-space">

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="">
                    Terms
                </a>

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " 
                    href="">
                    Privacy
                </a>

                <a  class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Github
                </a>

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Support
                </a>
            </div>
        </nav>
    </footer>

    <!--Overlay add task-->
    <div id="overlay-addtask" class="hidden bg-black/55 w-full h-full fixed top-0 p-6 md:p-20 justify-center items-center">
        <div class="border-4 flex flex-col gap-8 border-black bg-[#FFF9ED] w-full md:w-[46%] p-8 text-10 font-anton shadow-[4px_4px_0px_0px_#000] ">

            <div class=" w-full">
                <P class="uppercase text-[40px]">New Mission objective</P>
            </div>

            <form class="flex flex-col gap-6" action="/submitTask" method="POST" >
                <div class="flex flex-col">
                    <label class="font-space font-bold">TASK NAME</label>
                    <input
                        type="text"
                        class="border-4 border-black py-4 px-3 text-[24px] focus:border-[#2563EB]  focus:outline-none"
                        placeholder="ENTER MISSION OBJECTIVE..."
                        name="Task"
                    >
                </div>

                <div class="flex flex-col">
                    <label class="font-space font-bold">Due Date</label>
                    <input
                        type="date"
                        class="border-4 font-archivo uppercase border-black py-4 px-3 text-[16px] focus:border-[#2563EB]  focus:outline-none"
                        name="due_date"
                    >
                </div>

                <div class="flex flex-col md:flex-row gap-6 ">
                    <div class="w-full">
                        <label class="font-space font-bold text-[14px] uppercase">
                            Category
                        </label>

                        <input type="hidden" name="priority" id="priority" value="">
                        <div class="button-group mt-2 flex flex-row gap-4">
                            <button
                                type="button"
                                class="priority-button toggle-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="High"
                            >
                                High
                            </button>

                            <button
                                type="button"
                                class="priority-button toggle-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="Med"
                            >
                                Med
                            </button>

                            <button
                                type="button"
                                class="priority-button toggle-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="Low"
                            >
                                Low
                            </button>
                        </div>
                    </div>

                    <div class="w-full">
                        <label class="font-space font-bold text-[14px] uppercase">
                            Priority
                        </label>

                        <input type="hidden" name="category" id="category" value="">
                        <div class="button-group mt-2 flex flex-row gap-4">
                            <button
                                type="button"
                                class="category-button toggle-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="Study"
                            >
                                Study
                            </button>

                            <button
                                type="button"
                                class="category-button toggle-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="Work"
                            >
                                Work
                            </button>

                            <button
                                type="button"
                                class="category-button toggle-button uppercase toggle-button bg-white py-2 px-4 border-2 border-black text-[12px] font-space font-bold hover:translate-y-[-2px] transition-transform brutal-btn-hover"
                                data-value="Personal"
                            >
                                Personal
                            </button>
                        </div>
                    </div>
                </div>

                <button type="submit" class="bg-[#FFDD00] border-4 border-black py-4 text-[24px] shadow-[4px_4px_0px_0px_#000] hover:translate-y-[-2px] transition-transform brutal-btn-hover">
                    INITIATE TASK
                </button>
            </form>
        </div>
    </div>

    <div class="fixed md:hidden bottom-0 left-0 right-0 px-6 py-4 h-24 border-t-4 border-black bg-[#FFF9ED] z-50">

        <!-- Tombol Add -->
        <button
            class="absolute left-1/2 -translate-x-1/2 -top-8
                w-16 h-20
                flex flex-col items-center justify-center
                bg-[#FFDD00]
                border-4 border-black
                shadow-[6px_6px_0px_0px_#000]">

            <iconify-icon
                icon="material-symbols:add-rounded"
                class="text-3xl">
            </iconify-icon>

            <span class="text-xs font-space font-bold uppercase">
                Add
            </span>
        </button>

        <!-- Menu -->
        <div class="h-full flex justify-around items-end pb-3">

            <a href="/">
                <div class="flex flex-col items-center gap-1 opacity-50">
                    <iconify-icon
                        icon="material-symbols:checklist-rounded"
                        class="text-2xl text-[#6D5E00]">
                    </iconify-icon>

                    <span class="text-xs font-space text-[#6D5E00] font-bold uppercase">
                        Task
                    </span>
                </div>
            </a>

            <a href="/statPage">
                <div class="flex flex-col items-center gap-1">
                    <iconify-icon
                        icon="gridicons:stats"
                        class="text-2xl">
                    </iconify-icon>

                    <span class="text-xs font-space font-bold uppercase">
                        Stats
                    </span>
                </div>
            </a>

            <!-- Spacer supaya Add punya ruang -->
            <div class="w-16"></div>

            <div class="flex flex-col items-center gap-1 opacity-50">
                <iconify-icon
                    icon="material-symbols:category-outline-rounded"
                    class="text-2xl">
                </iconify-icon>

                <span class="text-xs font-space font-bold uppercase">
                    Cats
                </span>
            </div>

            <div class="flex flex-col items-center gap-1 opacity-50">
                <iconify-icon
                    icon="material-symbols:archive-outline-rounded"
                    class="text-2xl">
                </iconify-icon>

                <span class="text-xs font-space font-bold uppercase">
                    Archive
                </span>
            </div>

        </div>

    </div>

    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>