<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Anton&amp;family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&amp;family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet"/>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
    tailwind.config = {
        theme: {
            extend: {
                fontFamily: {
                    anton: ["Anton", "sans-serif"],
                    archivo: ["Archivo Narrow", "sans-serif"],
                    space: ["Space Mono", "monospace"],
                }
            }
        }
    }
    </script>

    <link rel="stylesheet" href="/Static/css/style.css">
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</head>

<body class="bg-[#fff9ed] font-archivo min-h-screen flex flex-col">

    <header class="w-full sticky top-0  border-b-4 border-black bg-[#FFF9ED] py-4">
        <nav class="max-w-7xl mx-auto flex items-center justify-between px-5 md:px-8 lg:px-12 py-4 ">

            <!--Left Navbar-->
            <div class=" bg-[#ffdd00] py-1 px-4 border-4 border-black shadow-[6px_6px_0px_0px_#000]">
                <P class="font-anton text-[24px] text-bold">Taskr</P>
            </div>


            <!--Middle navbar-->
            <div class="hidden md:flex flex flex-row gap-8">

                <a class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="/">
                    Tasks
                </a>

                <a class="text-[16px] text-[#6D5E00] font-bold border-b-4 border-[#6D5E00] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="/statPage">
                    Stats
                </a>

                <a  class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Categories
                </a>

                <a class="text-[16px] hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Archive
                </a>
            </div>

            <!--Right navbar-->
            <div id="btn-addtask" class=" md:flex bg-[#ffdd00] py-1 px-4 border-4 border-black shadow-[6px_6px_0px_0px_#000] brutal-btn-hover brutal-btn-active transition-all">
                <P class="font-anton ">ADD TASK</P>
            </div>
        </nav>
    </header>

    <main class="w-full flex-1 flex flex-col gap-12 py-5 mb-6">
        <section>
            <div class="max-w-7xl mx-auto px-5 md:px-8 lg:px-12">
                <h1 class="font-anton text-[64px] uppercase">your stats.</h1>
                <span class=" archivo bold w-fit  text-[22px] text-[#1E1C10]">
                    Real-time performance metrics. No fluff, just raw data on your productivity cycle.
                </span>
            </div>
        </section>

        <section>
            <div class="flex flex-col gap-6 px-5 max-w-7xl mx-auto md:px-8 lg:px-12 md:flex-row">
                <div class="border-4 border-black py-8 px-8 md:w-full shadow-[4px_4px_0px_0px_#000] bg-white brutal-btn-hover">
                    <div class="font-space font-bold text-[15px] text-[#4C4732] uppercase">total task</div>
                    <div class="font-anton text-[64px] text-[#1E1C10] font-normal"><p>{{ result_total.total }}</p> </div>
                </div>

                <div class="border-4 border-black py-8 px-8 md:w-full shadow-[4px_4px_0px_0px_#000] bg-white">
                    <div class="font-space font-bold text-[15px] text-[#4C4732] uppercase">Completed</div>
                    <div class="font-anton text-[64px] text-[#166534] font-normal">18</div>
                </div>

                <div class="border-4 border-black py-8 px-8 md:w-full shadow-[4px_4px_0px_0px_#000] bg-white">
                    <div class="font-space font-bold text-[15px] text-[#4C4732] uppercase">Pending</div>
                    <div class="font-anton text-[64px] text-[#1E1C10] font-normal">4</div>
                </div>

                <div class="border-4 border-black py-8 px-8 md:w-full shadow-[4px_4px_0px_0px_#000] bg-white">
                    <div class="font-space font-bold text-[15px] text-[#4C4732] uppercase">Overdue</div>
                    <div class="font-anton text-[64px] text-[#BA1A1A] font-normal">2</div>
                </div>
            </div>
        </section>

        <section>
            <div class="flex flex-col gap-6 px-5 md:flex-row max-w-7xl mx-auto md:px-8 lg:px-12">
                <div class="border-4 border-black p-8 bg-white flex flex-col gap-10 md:w-full  shadow-[4px_4px_0px_0px_#000]">
                        <div class="font-anton text-[40px]">
                            <p>Weekly Velocity</p>
                        </div>

                        <div class=" flex flex-col gap-6">
                            <div class="flex flex-row gap-4">
                                <div class="font-space font-bold text-[12px] uppercase ">
                                    <p>Mon</p>
                                </div>

                                <div class="border-2 border-black w-full ">
                                    <div class="h-full border-r-2 border-black w-[70%] bg-[#FFDD00]"></div>
                                </div>

                                <div class="font-space font-bold text-[12px]">
                                    <P>6</P>
                                </div>
                            </div>

                            <div class="flex flex-row gap-[16px]">
                                <div class="font-space font-bold text-[12px] uppercase ">
                                    <p>Tue</p>
                                </div>

                                <div class="border-2 border-black w-full ">

                                </div>

                                <div class="font-space font-bold text-[12px]">
                                    <P>6</P>
                                </div>
                            </div>

                            <div class="flex flex-row gap-[16px]">
                                <div class="font-space font-bold text-[12px] uppercase ">
                                    <p>Wed</p>
                                </div>

                                <div class="border-2 border-black w-full ">

                                </div>

                                <div class="font-space font-bold text-[12px]">
                                    <P>6</P>
                                </div>
                            </div>

                            <div class="flex flex-row gap-[16px]">
                                <div class="font-space font-bold text-[12px] uppercase ">
                                    <p>thu</p>
                                </div>

                                <div class="border-2 border-black w-full ">

                                </div>

                                <div class="font-space font-bold text-[12px]">
                                    <P>6</P>
                                </div>
                            </div>

                            <div class="flex flex-row gap-[16px]">
                                <div class="font-space font-bold text-[12px] uppercase ">
                                    <p>Fri</p>
                                </div>

                                <div class="border-2 border-black w-full ">

                                </div>

                                <div class="font-space font-bold text-[12px]">
                                    <P>6</P>
                                </div>
                            </div>

                            <div class="flex flex-row gap-[16px]">
                                <div class="font-space font-bold text-[12px] uppercase ">
                                    <p>Sat</p>
                                </div>

                                <div class="border-2 border-black w-full ">

                                </div>

                                <div class="font-space font-bold text-[12px]">
                                    <P>6</P>
                                </div>
                            </div>

                            <div class="flex flex-row gap-[16px]">
                                <div class="font-space font-bold text-[12px] uppercase ">
                                    <p>sun</p>
                                </div>

                                <div class="border-2 border-black w-full ">

                                </div>

                                <div class="font-space font-bold text-[12px]">
                                    <P>6</P>
                                </div>
                            </div>

                        </div>
                </div>

                <div class="border-4 border-black p-8 bg-[#FFDD00] flex flex-col gap-6 md:w-full md:h-fit  shadow-[4px_4px_0px_0px_#000]">
                    <div class="">
                        <p class="font-anton text-[24px] uppercase">Streak tracker</p>
                        <p class="font-archivo text-[16px]">Maintain the momentum. No zero days Allowed.</p>
                    </div>

                    <div class="flex flex-row gap-6 flex-wrap">
                        <div class="flex flex-col items-center gap-2">
                            <div class="bg-black w-[40px] h-[40px] flex justify-center items-center">
                                <iconify-icon
                                    icon="material-symbols:close-rounded"
                                    class="text-white text-2xl">
                                </iconify-icon>
                            </div>
                            <P class="font-space font-bold text-[12px]">M</P>
                        </div>

                        <div class="flex flex-col items-center gap-2">
                            <div class="bg-black w-[40px] h-[40px] flex justify-center items-center">
                                <iconify-icon
                                    icon="material-symbols:close-rounded"
                                    class="text-white text-2xl">
                                </iconify-icon>
                            </div>
                            <P class="font-space font-bold text-[12px]">T</P>
                        </div>

                        <div class="flex flex-col items-center gap-2">
                            <div class="bg-black w-[40px] h-[40px] flex justify-center items-center">
                                <iconify-icon
                                    icon="material-symbols:close-rounded"
                                    class="text-white text-2xl">
                                </iconify-icon>
                            </div>
                            <P class="font-space font-bold text-[12px]">W</P>
                        </div>

                        <div class="flex flex-col items-center gap-2">
                            <div class="bg-black w-[40px] h-[40px] flex justify-center items-center">
                                <iconify-icon
                                    icon="material-symbols:close-rounded"
                                    class="text-white text-2xl">
                                </iconify-icon>
                            </div>
                            <P class="font-space font-bold text-[12px]">T</P>
                        </div>

                        <div class="flex flex-col items-center gap-2">
                            <div class="bg-black w-[40px] h-[40px] flex justify-center items-center">
                                <iconify-icon
                                    icon="material-symbols:close-rounded"
                                    class="text-white text-2xl">
                                </iconify-icon>
                            </div>
                            <P class="font-space font-bold text-[12px]">F</P>
                        </div>

                        <div class="flex flex-col items-center gap-2">
                            <div class="bg-black w-[40px] h-[40px] flex justify-center items-center">
                                <iconify-icon
                                    icon="material-symbols:close-rounded"
                                    class="text-white text-2xl">
                                </iconify-icon>
                            </div>
                            <P class="font-space font-bold text-[12px]">S</P>
                        </div>

                        <div class="flex flex-col items-center gap-2">
                            <div class="bg-black w-[40px] h-[40px] flex justify-center items-center">
                                <iconify-icon
                                    icon="material-symbols:close-rounded"
                                    class="text-white text-2xl">
                                </iconify-icon>
                            </div>
                            <P class="font-space font-bold text-[12px]">S</P>
                        </div>
                    </div>

                    <hr class="border-t-4 border-black">

                    <div class="">
                        <P class="text-[24px] font-anton">4 day streak</P>
                        <P class="uppercase font-space font-bold text-[12px]"> record : 12 days</P>                            
                    </div>
                </div>

            </div>
        </section>
    </main>

    <footer class="w-full border-t-4 border-black bg-[#e9e2cf] py-4 md:mb-0 mb-24">
        <nav class="max-w-7xl mx-auto flex flex-col items-center gap-5 justify-between px-5 md:px-8 lg:px-12 py-4 ">

            <!--Left Navbar-->
            <div class=" w-full flex justify-center items-center">
                <P class="font-anton text-[24px] text-bold uppercase">Taskr</P>
            </div>


            <!--Middle navbar-->
            <div class="font-space text-[12px] font-bold text-[#4C4732]">

                <P>© 2024 TASKR - UNYIELDING PRODUCTIVITY</P>
            </div>

            <div class="md:flex flex flex-row gap-6 font-bold font-space">

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform" 
                    href="">
                    Terms
                </a>

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " 
                    href="">
                    Privacy
                </a>

                <a  class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Github
                </a>

                <a class="text-[12px] uppercase hover:translate-x-[-2px] hover:translate-y-[-2px] transition-transform " href="">
                    Support
                </a>
            </div>
        </nav>
    </footer>

    <div class="fixed md:hidden bottom-0 left-0 right-0 px-5 py-4 h-24 border-t-4 border-black bg-[#FFF9ED] z-50">

        <!-- Tombol Add -->
        <button
            class="absolute left-1/2 -translate-x-1/2 -top-8
                w-16 h-20
                flex flex-col items-center justify-center
                bg-[#FFDD00]
                border-4 border-black
                shadow-[6px_6px_0px_0px_#000]">

            <iconify-icon
                icon="material-symbols:add-rounded"
                class="text-3xl">
            </iconify-icon>

            <span class="text-xs font-space font-bold uppercase">
                Add
            </span>
        </button>

        <!-- Menu -->
        <div class="h-full flex justify-around items-end pb-3">

            <a href="/">
                <div class="flex flex-col items-center gap-1 opacity-50">
                    <iconify-icon
                        icon="material-symbols:checklist-rounded"
                        class="text-2xl">
                    </iconify-icon>

                    <span class="text-xs font-space font-bold uppercase">
                        Task
                    </span>
                </div>
            </a>

            <a href="/statPage">
                <div class="flex flex-col items-center gap-1">
                    <iconify-icon
                        icon="gridicons:stats"
                        class="text-2xl text-[#6D5E00]">
                    </iconify-icon>

                    <span class="text-xs font-space text-[#6D5E00] font-bold uppercase">
                        Stats
                    </span>
                </div>
            </a>

            <!-- Spacer supaya Add punya ruang -->
            <div class="w-16"></div>

            <a href="#">
                <div class="flex flex-col items-center gap-1 opacity-50">
                    <iconify-icon
                        icon="material-symbols:category-outline-rounded"
                        class="text-2xl">
                    </iconify-icon>

                    <span class="text-xs font-space font-bold uppercase">
                        Cats
                    </span>
                </div>
            </a>

            <a href="#">
                <div class="flex flex-col items-center gap-1 opacity-50">
                    <iconify-icon
                        icon="material-symbols:archive-outline-rounded"
                        class="text-2xl">
                    </iconify-icon>

                    <span class="text-xs font-space font-bold uppercase">
                        Archive
                    </span>
                </div>
            </a>

        </div>

    </div>
</body>
</html>